---
layout: default
title: Blog
nav: blog
image: reclining-lady.jpg
sitemap:
  changefreq: weekly
  priority: 1
---

<div id="main">
  <div id="posts">
    {% for post in site.posts %}
      <article>
          <h2>
            <a href="{{ post.url }}">{{ post.title }}</a>
          </h2>
          {% if post.subtitle %}
            <p class="subtitle">{{ post.subtitle }}</p>
          {% endif %}<!--post.subtitle-->
          {% if post.image %}
            <a class="imglink" href="{{ post.url }}">
              <img class="thumbnail" src="/assets/img/header/thumbnail/{{ post.image }}" alt="{{ post.title }}" />
            </a>
          {% endif %}<!--post.image-->
        <time datetime="{{ post.date }}">{{ post.date | date_to_long_string }}</time>
      </article>
    {% endfor %}
  </div>
</div>