#posts {
  article {
    border-bottom: 1px solid $grayaccent;
    padding: 2em 1em 1em 1em;
    position: relative;
    @include animate;
    &:hover {
      background: #fff;
    }
    h2 {
      margin: 0;
    }
    .subtitle {
      margin-top: 0;
    }
    time {
      font-size: .8em;
      position: relative;
      top: -20px;
      margin-left: 10px;
    }
    .thumbnail {
      border-radius: 50px;
      border: 1px solid #ccc;
    }
  }
}