<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }} | {{ site.name }} | {{ site.subhead }}</title>
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="{{ site.description }}">
    <link rel="stylesheet" href="/css/screen.css">
    <link href='http://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
  </head>
  <body>

    <header>
      <h1 class="title">{{ site.name }}</h1>
      <p class="subtitle"> {{ site.subhead }}</p>
    </header>

    <section id="main">
      {{ content }}
    </section><!--main-->

    <footer>
      <div class="contact">
        <p>
          Your Name<br />
          What You Are<br />
          you@example.com
        </p>
      </div><!--.contact-->
      <div class="contact">
        <p>
          <a href="https://github.com/yourusername">github.com/yourusername</a><br />
          <a href="https://twitter.com/{{ site.twitter }}">twitter.com/{{ site.twitter }}</a><br />
        </p>
      </div><!--.contact-->
    </footer>

  </body>
</html>
