/* apply a natural box layout model to all elements */
*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }

img {
  max-width:100%;
  height:auto;
}

#main {
  max-width: 640px;
  padding: 0 20px;
  margin: 0 auto 3em auto;
}

header {
  text-align: center;
  background: $basetext url('/assets/img/theme/binding_dark.png') top left repeat;
  margin: 0 0 3em 0;
  h1 { 
    margin: 0;
  }
}

hr.dots {
  display:block;
  background: transparent url('/assets/img/theme/dot.png') top left repeat-x;
  height: 6px;
  border: 0 none;
}

hr.dashes {
  display:block;
  background: transparent url('/assets/img/theme/dash.png') top left repeat-x;
  height: 4px;
  border: 0 none;
}

.imglink {
  text-decoration: none;
  border-bottom: 0;
}