@font-face {
    font-family: 'ChunkFive';
    src: url('/assets/fonts/chunkfive-webfont.eot');
    src: url('/assets/fonts/chunkfive-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/chunkfive-webfont.woff') format('woff'),
         url('/assets/fonts/chunkfive-webfont.ttf') format('truetype'),
         url('/assets/fonts/chunkfive-webfont.svg#chunkfiveroman') format('svg');
    font-weight: normal;
    font-style: normal;
}